body, h1, h2, p {
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(56, 59, 59, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 655px; 
}

.form{
    border-radius: 20px;
    width: 80%;
    background-color: rgba(255, 123, 0, 0.87);
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
}
.login{
    height: 200px;
  position: relative;
  
}
.center{
    margin: 0;
    position: absolute;
    top: 100%;
    left: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginPic{
    border-radius: 20px 0 0 20px;
    float: left;
    width: 50%;
    height: 500px;
}